html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #385555;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #ffffff;
}

.container-geral {
    background-color: #ffffff;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 9px black;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    border-bottom: solid 1px #385555;
    padding: 16px;
}

.item-image img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 2px 5px #385555;
}

.item-content {
    padding: 0 20px;
    flex-grow: 1;
}

.content-name {
    font-size: 20px;
    font-weight: bolder;
    color: #385555;
    margin: 0;
    padding-top: 15px;
}

.content-mail {
    margin-top: 5px;
    color: #38555585;
}

.list-item:hover {
    background-color: #e8e8e8;
}

.item-cta {
    display: none;
    gap: 16px;
    align-items: center;
    opacity: 0.3;
}

.list-item:hover .item-cta{
    display: flex;
}